{% extends "hello/layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content%}
<div>

</div>
<div class="aboutcon">
    <div class="texteffect">
        <div class="slideUp">
                <div class="aboutimg">

                </div class="content-text">
                사업목적
                근로자의 직업능력개발을 촉진 지원하고, 기업의 인적자원 경쟁력을 제고하여 국가 생산성 향상 도모
                
                사업목표
                근로자의 평생능력개발 지원
                
                주요사업
                주요사업 - 자세한 설명은 하단 참조
                
                근로자의 직업능력개발을 촉진·지원하고 기업의 인적자원 경쟁력을 높일 수 있는 다양한 서비스 제공
                
                ●청년 직업능력개발지원
                
                ●근로자·기업 직업능력 개발 지원
                
                ●직업능력개발 인프라 지원
                
                ●직업능력개발 훈련품질 향상
                
                
                
                
                
                청년직업능력개발지원
                직무능력 향상을 위한 직업능력개발 지원을 통해 청년들의 일자리 미스매치 해소에 기여합니다.
                
                근로자ㆍ기업 직업능력개발 지원
                근로자와 기업이 직업능력개발을 통해 경쟁력을 강화할 수 있도록 다양한 훈련 사업들을 지원합니다.
                
                직업능력개발 인프라 지원
                고객 맞춤형 HRD콘텐츠 개발·보급, 일자리 정보 및 직업능력개발 프로그램을 제공하는 직업방송 송출 등 직업능력개발의 인프라를 지원합니다.
                
                직업능력개발 훈련품질 향상 지원
                상시적 현장·원격 모니터링 및 조사분석으로 직업능력개발훈련 품질 향상을 지원합니다.
                
                페이지에서 제공하는 정보에 대해 만족하십니까?    
    
        </div>
    </div>
    <div class="effect">
        <div class="slideUp">
                <div class="aboutimg">

                </div>
                사업목적
                근로자의 직업능력개발을 촉진 지원하고, 기업의 인적자원 경쟁력을 제고하여 국가 생산성 향상 도모
                
                사업목표
                근로자의 평생능력개발 지원
                
                주요사업
                주요사업 - 자세한 설명은 하단 참조
                
                근로자의 직업능력개발을 촉진·지원하고 기업의 인적자원 경쟁력을 높일 수 있는 다양한 서비스 제공
                
                ●청년 직업능력개발지원
                
                ●근로자·기업 직업능력 개발 지원
                
                ●직업능력개발 인프라 지원
                
                ●직업능력개발 훈련품질 향상
                
                
                
                
                
                청년직업능력개발지원
                직무능력 향상을 위한 직업능력개발 지원을 통해 청년들의 일자리 미스매치 해소에 기여합니다.
                
                근로자ㆍ기업 직업능력개발 지원
                근로자와 기업이 직업능력개발을 통해 경쟁력을 강화할 수 있도록 다양한 훈련 사업들을 지원합니다.
                
                직업능력개발 인프라 지원
                고객 맞춤형 HRD콘텐츠 개발·보급, 일자리 정보 및 직업능력개발 프로그램을 제공하는 직업방송 송출 등 직업능력개발의 인프라를 지원합니다.
                
                직업능력개발 훈련품질 향상 지원
                상시적 현장·원격 모니터링 및 조사분석으로 직업능력개발훈련 품질 향상을 지원합니다.
                
                페이지에서 제공하는 정보에 대해 만족하십니까?    
    
        </div>
    </div>
    <div class="effectcontent">
        <div class="slideUp">
                <div class="aboutimg">

                </div>
                사업목적
                근로자의 직업능력개발을 촉진 지원하고, 기업의 인적자원 경쟁력을 제고하여 국가 생산성 향상 도모
                
                사업목표
                근로자의 평생능력개발 지원
                
                주요사업
                주요사업 - 자세한 설명은 하단 참조
                
                근로자의 직업능력개발을 촉진·지원하고 기업의 인적자원 경쟁력을 높일 수 있는 다양한 서비스 제공
                
                ●청년 직업능력개발지원
                
                ●근로자·기업 직업능력 개발 지원
                
                ●직업능력개발 인프라 지원
                
                ●직업능력개발 훈련품질 향상
                
                
                
                
                
                청년직업능력개발지원
                직무능력 향상을 위한 직업능력개발 지원을 통해 청년들의 일자리 미스매치 해소에 기여합니다.
                
                근로자ㆍ기업 직업능력개발 지원
                근로자와 기업이 직업능력개발을 통해 경쟁력을 강화할 수 있도록 다양한 훈련 사업들을 지원합니다.
                
                직업능력개발 인프라 지원
                고객 맞춤형 HRD콘텐츠 개발·보급, 일자리 정보 및 직업능력개발 프로그램을 제공하는 직업방송 송출 등 직업능력개발의 인프라를 지원합니다.
                
                직업능력개발 훈련품질 향상 지원
                상시적 현장·원격 모니터링 및 조사분석으로 직업능력개발훈련 품질 향상을 지원합니다.
                
                페이지에서 제공하는 정보에 대해 만족하십니까?    
    
        </div>
    </div>
</div>
        {% endblock %}