{% extends "hello/layout.html" %}
{% block title %}
자동차
{% endblock %}

{% block content%}




<div class="effect">
    <div class="slideUp">
        <form action="https://search.naver.com/search.naver">
            <div class="findcon">
                <div class ="searchtext">
                    Search
                </div>
                <input type="text" name="query" value="">
                <button type="submit">검색</button>
            </div>
        </form>  
    </div>
</div>

<div class="container">
    <div class="effectcontent">
        <div class="slideUp">
            <div class="content1">
                <a href="https://www.ev.or.kr/portal/buyersGuide/incenTive",class="content-text">
                    <button class="btn-a">정부 보조금 링크</button>
                </a>
                
                <div class="content-text">
                    <p >지역에 따른 정부 보조금 지원 금액을 알 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="effect">
        <div class="slideUp">
            <div class="content2">
                <a href="{% url 'about' %}",class="content-text">
                    <button class="btn-a">소프트 웨어 소개</button>
                </a>
                
                <div class="content-text">
                    <p >우리들은 돈을 벌기 위해 만들었다. 무엇을? 이것을 바로 우리는 만들었다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="effectcontent">
        <div class="slideUp">
            <div class="content1">
                <a href="{% url 'home' %}",class="content-text">
                    <button class="btn-a">차량 구매</button>
                </a>
                
                <div class="content-text">
                    <p >여기서 차량을 구매하세요! </p><p>우리는 일정 금액의 돈을 지불 받을 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="effect">
        <div class="slideUp">
            <div class="content2">
                <a href="{% url 'home' %}",class="content-text">
                    <button class="btn-a">설문 항목 체크</button>
                </a>
                
                <div class="content-text">
                    <p >당신이 더욱 당신에게 알맞은 차를 구매 할 수 있도록 만들어주는 슈퍼 울트라 체크항목.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="effectcontent">
        <div class="slideUp">
            <div class="content1">
                <a href="{% url 'home' %}",class="content-text">
                    <button class="btn-a">유지 보수 정보</button>
                </a>
                
                <div class="content-text">
                    <p > 당신은 당신의 차에 대한 유지 보수 정보를 확인 할 수 있다. 또는 어떻게 정비하는지</p>
                </div>
            </div>
        </div>
    </div>
    <div class="effect">
        <div class="slideUp">
            <div class="content2">
                <a href="{% url 'infra' %}",class="content-text">
                    <button class="btn-a">인프라 검색</button>
                </a>
                
                <div class="content-text">
                    <p >놀러가고 싶지 않으십니까? 또는 전기차에 관한 인프라가 궁금하십니까? 여기로 오십시오!</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">


</div>


{% endblock %}