{% extends "hello/layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content%}
<div>
    <main class="container" style="min-width: 1000;">
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
          <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Want To Be A Rich.</h1>
            <p class="lead my-3">We created this web to get money.What you need to be rich is money.I want to be rich.So please use this web</p>
          </div>
        </div>
      
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">대표 이사</strong>
                <h3 class="mb-0">정룡우</h3>
                <div class="mb-1 text-body-secondary">2000/09/25</div>
                <p class="card-text mb-auto">Hello, I'm Jung Ryongwoo.<br>I will continue to work hard to lead this company.</p>
                
              </div>
              <div class="col-auto d-none d-lg-block">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">경영 임원</strong>
                <h3 class="mb-0">손기현</h3>
                <div class="mb-1 text-body-secondary">2000/02/31</div>
                <p class="mb-auto">Hi.<br>Hello.I'm bald.who pooped in my head?   don't shit</p>
                
              </div>
              <div class="col-auto d-none d-lg-block">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">설계부 팀장 </strong>
                <h3 class="mb-0">김준현</h3>
                <div class="mb-1 text-body-secondary">BC 2000/07/08</div>
                <p class="mb-auto">Just a normal person with no super-talented talent who hates designing.</p>
                </div>
              <div class="col-auto d-none d-lg-block">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">청소부</strong>
                <h3 class="mb-0">조혁준</h3>
                <div class="mb-1 text-body-secondary">1999/12/25 ~ 2023/05/29</div>
                <p class="mb-auto">When I wake up every day, I think about cleaning.I will go anywhere if you call me.</p>
                </div>
              <div class="col-auto d-none d-lg-block">
              </div>
            </div>
          </div>
        </div>
      
        <div class="row g-5">
          <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
              자동차 팔기 프로젝트
            </h3>
            <article class="blog-post">
              <ul>
                <li>전기차 구매자들의 다양한 요구를 충족시켜 구매자의 구매 결정을 도와주는 가상 쇼핑 기능을 제공함으로써 고객에게 전기 자동차에 대한 맞춤형 정보를 제공하고, 구매자 고객의 만족도가 증대될 수 있다.</li>
                <hr>
                <li>사후 서비스 관리로 운전 습관 , 유지 보수 비용 계산 등을 통해 사용자의 가계 재무관리에 도움을 줄 수 있다.</li>
                <hr>
                <li>맞춤형 보조금 정보와 관련 서류 정보를 제공하여 차량 구매비용을 예측하고 줄임으로 전기차의 수요를 늘려 전기차 산업 발전을 도모할 수 있고, 정부의 세제 혜택 지원 및 인프라 확대 등 환경보호에 기여할 수 있음.</li>
                <hr>
                <li>리뷰와 정보 제공을 통한 전기차에 대한 인식 개선.</li>
              </ul>
            </article>
      
            <article class="blog-post">
              <h2 class="blog-post-title mb-1">손기현</h2>
              <p class="blog-post-meta"> 여름 한창 더울때...우리는 생각 했다...</p>
      
              <p>우리는 돈을 벌기 위해 이 웹 사이트를 작성하였습니다. 돈 주세요 돈이 필요해요. 돈 왕창 벌어서 부자가 되고 싶은 손기현 입니다.</p>
              <hr>
              <p>나는 손기현... 언젠가 정룡우를 뛰어넘어 이 회사의 대표 이사가 되겠다. 그러기 위해서는 ER다이어그램을 빨리 짜야겠지. 모든 과목에서 A+를 받기 위해 노력하는 중입니다.  </p>
              <h2>김준현</h2>
              <p>한창 추울 겨울에...</p>
              <blockquote class="blockquote">
                <p>자동차 프로젝트를 만들며 느낀점</p>
              </blockquote>
              <p>없음</p>
              <h3>김준현의 생각</h3>
              <p>빨리 집가고 싶다.</p>
              <ul>
                <li>집가서</li>
                <li>빨리</li>
                <li>누워야지</li>
              </ul>
              <p>집에 가면 무엇을 할 것이가.</p>
              <ol>
                <li>소프트웨어 프로그램 공부</li>
                <li>전력전자 공부</li>
                <li>CAD 공부</li>
              </ol>
              <p>웹 페이지 개발을 하면 써 쓴 툴</p>
              <dl>
                <dt>HyperText Markup Language (HTML)</dt>
                <dd>The language used to describe and define the content of a Web page</dd>
                <dt>Cascading Style Sheets (CSS)</dt>
                <dd>Used to describe the appearance of Web content</dd>
                <dt>Python(django)</dt>
                <dd>The programming language used to build advanced Web sites and applications</dd>
                <dt>mysql</dt>
                <dd>Databases</dd>
              </dl>
              <h2>조혁준</h2>
              <p>오늘도 술, 내일도 술, 저는 웹 페이지를 만들기 위해서 웹보안에 대해서 공부하고, 사용자들의 다양한 니즈를 파악하여 그것을 분석하고 웹 페이지에 구현하고자 하였지 않습니다.</p>
              <h2>정룡우</h2>
              <p>안녕하세요.<br>정룡우 입니다.<br> 
                저는 웹 페이지를 만들기 위해서 django에 대해서 공부하고, 사용자들의 다양한 니즈를 파악하여 그것을 분석하고 웹 페이지에 구현하고자 하였습니다.
              <br> 동시에 html,css 에 대한 문법을 익히고 그것을 활용하려고 노력을 기울였습니다.
             <br> 제 이야기를 들어주셔서 감사합니다. Thank you</p>
              
            
      

      
            <nav class="blog-pagination" aria-label="Pagination">
              <a class="btn btn-outline-primary rounded-pill" href="{% url 'contact' %}">후원</a>
            </nav>
      
          </div>
      
          <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
              <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4 class="fst-italic">About</h4>
                <p class="mb-0">We created this web to get money.What you need to be rich is money.I want to be rich.So please use this web</p>
              </div>
      
      
              <div class="p-4">
                <h4 class="fst-italic">회사 인물</h4>
                <ol class="list-unstyled">
                  <li><a href="https://github.com/ziguin0925/jlwoo0925">정룡우</a></li>
                  <li><a href="#">손기현</a></li>
                  <li><a href="#">김준현</a></li>
                  <li><a href="#">조혁준</a></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      
      </main>
</div>
{% endblock %}