{% extends "hello/layout.html" %}
{% block title %}
자동차 판매 로그인
{% endblock %}
{% block content%}

<style>
    .col-lg-4{
        display: grid;
        justify-items: center;
    }
    .col-md-5{
        display: grid;
        justify-items: center;

    }
    </style>
{% if user.is_authenticated %}
<div class="center">
    
    <div class="container marketing">
        
        <hr class="featurette-divider">
        
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">신중하게 결정하시고 구매하시는 건가요? </h2>
                <p class="lead">돈에 허덕이는 당신, 차를 샀다가 유지비에 곤란할 수 도 있습니다.</p>
            </div>
            <div class="col-md-5">
                <div class="carbuywar" style="background-size:100% 100% ; background-image: url(https://images.unsplash.com/photo-1596394549219-d3d5c5ca7a58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);">  
                </div>
            </div>
        </div>
        
        <hr class="featurette-divider">
        
        <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <div class="carbuywar" style="background-size:100% 100% ; background-image: url(https://images.unsplash.com/photo-1596394549219-d3d5c5ca7a58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);">  
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
        <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <div class="carbuywar" style="background-size:100% 100% ; background-image: url(https://images.unsplash.com/photo-1596394549219-d3d5c5ca7a58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);">  
            </div>
         </div>
        </div>
        
        <hr class="featurette-divider">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <div class="car_seller" style="background-position: 50% 50%; background-image: url(https://th.bing.com/th/id/OIP.UkTMsO2aHmHBGoZcoS3QyQAAAA?pid=ImgDet&rs=1)"></div>
                <h2 class="fw-normal">국내</h2>
                <p>국내 차량 안내소 이니까 많이 들려</p>
                <p><a class="btn btn-secondary" href="https://www.kia.com/kr/buy/build-your-car/vehicle-lineup?cate=1">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="car_seller" style="background-size: 180% 150%; background-position: 50% 50%; background-image: url(https://th.bing.com/th/id/OIP.iooUp5GOZPM_PqzSACkAjAHaE7?pid=ImgDet&rs=1)"></div>
                <h2 class="fw-normal">국외</h2>
                <p>hi, come on to pay for me</p>
                <p><a class="btn btn-secondary" href="https://www.lamborghini.com/en-en/models/revuelto">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="car_seller" style=" background-repeat: no-repeat; background-position: 50% 50%; background-size: 90% 60%; background-image: url(https://blog.kakaocdn.net/dn/JhEc4/btqCMnTfoer/4x14bx76UZUmVOQeiDI9b1/img.jpg)"></div>
                <h2 class="fw-normal">잡 것</h2>
                <p>I always wanted to buy this brand equipment</p>
                <p><a class="btn btn-secondary" href="https://www.lexus.co.kr/build-and-price/">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        
        
        <!-- START THE FEATURETTES -->
        
    </div>
    
    <hr class="featurette-divider">
    
    <!-- /END THE FEATURETTES -->
    
</div>
</div>
{% else %}
<div class="center">
  <div class=" container-600">
    <h1>로그인이 필요합니다.</h1>
    <hr>
    <button><a href="{% url 'login' %}" class="navbar-a">로그인</a></button>
  </div>
</div>
{% endif %}

{% endblock %}