{% extends "hello/layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content%}
<hr>
<div class="center">
    <h1>인프라 창이에유</h1>
    <div>
        <div class="map" id="inf">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d25493.29973155268!2d127.12018994259674!3d36.99398929320721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z7KCE6riw7LCo!5e0!3m2!1sko!2skr!4v1684658492312!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </div>
    <div class="effect">
        <div class="slideUp">
            <h2>
                
                당신은 검색할 수 있다. 전기차 관련 인프라를! 직접 검색을 통해, 구글로 들어가서.
            </h2>
        </div>
    </div>
</div>
{% endblock %}