{% extends "hello/layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content%}
<hr>
<div class="center">
    <div >
        <h1> 보험 사이트 </h1>
        <hr>
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-lg-4">
                
                <h2 class="fw-normal">@@@ 차량 보험</h2>
                <p>차량 안전에 좋음</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            
            <div class="col-lg-4">
                <h2 class="fw-normal">### 차량 보험</h2>
                <p>좋아</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2 class="fw-normal">$$$차량 보험</h2>
                <p>어떤거에 좋음</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div>
        <hr>
        <h1> 대출 사이트 </h1>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                
                <h2 class="fw-normal">@@@ 대출</h2>
                <p>산와 산와 산와모니 산와 산와 믿으니까 우 걱정마세요</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2 class="fw-normal">### 대출</h2>
                <p>띠링 띠링</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2 class="fw-normal">$$$대출</h2>
                <p>O~k</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div>
    </div>
</div>
{% endblock %}