{% extends "hello/layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content%}
<style>
    .blog-post{
        margin-bottom: 50px;
        width: 700px;
        border-bottom: 1px solid #bcbcbc;
    }
</style>
<div class="center" style="margin-bottom: 50px;" >

    
    <article class="blog-post" style=" text-align: left;">
        <h2 class="blog-post-title mb-1">KB차차차</h2>
        <p>중고차 시세를 차량의 번호만 입력하면 사고정보 리콜 시세보험 등 다양한 정보가 나오는 간편 조회 가능</p>
        <p class="blog-post-meta">바로가기 <a href="https://www.kbchachacha.com/">Click</a></p>
    </article>
    <article class="blog-post" style="max-width: 1200px; text-align: left;">
        <h2 class="blog-post-title mb-1">보배드림</h2>
        <p>최근 자동차 커뮤니티 사이트로 주목받는 사이트, 하루에 방문자가 어마어마하다.</p>
        <p class="blog-post-meta">바로가기 <a href="https://www.bobaedream.co.kr/">Click</a></p>
    </article>
    <article class="blog-post" style="max-width: 1200px; text-align: left;">
        <h2 class="blog-post-title mb-1">다나와 중고차</h2>
        <p>다나와 중고차에서 차종별로 간편하게 중고차 상태를 확인 할 수 있습니다.</p>
        <p class="blog-post-meta">바로가기 <a href="https://auto.danawa.com/usedcar/">Click</a></p>
    </article>
    <article class="blog-post" style="max-width: 1200px; text-align: left;">
        <h2 class="blog-post-title mb-1">엔카</h2>
        <p>구매할 수 있는 차량대수가 가장 많습니다. 차량에 대해 잘 알고 있을 경우 구매하기 수월할 수 있습니다.</p>
        <p class="blog-post-meta">바로가기 <a href="http://www.encar.com/index.do">Click</a></p>
    </article>
    <article class="blog-post" style="max-width: 1200px; text-align: left;">
        <h2 class="blog-post-title mb-1">직거래 닷컴 </h2>
        <p>가격, 연식, 팝니다, 삽니다, 거래완료등 직관적으로 쉽게 볼 수 있는 사이트.</p>
        <p class="blog-post-meta">바로가기 <a href="https://www.jikgure.com/car.php?car_mode=list&page=1&class=00">Click</a></p>
    </article>
    
    <hr>
</div>




{% endblock %}