{% extends "hello/layout.html" %}
{% block title %}
회원 가입
{% endblock %}
{% block content%}

<div class="center">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">회원 가입</h4>
        <form class="needs-validation" novalidate="" action="{% url 'signup' %}", method="post">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">성</label>
              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="" 
              value="" required="">
              <div class="invalid-feedback">
                X
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">이름</label>
              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="" value="" required="">
              <div class="invalid-feedback">
                X
            </div>
        </div>
        <div class="row gy-3">
          <div class="col-sm-6">
            <label for="id-first" class="form-label">주민번호 앞자리</label>
            <input type="number" class="form-control" name="birth_id1" id="birth_id1" placeholder="" required=""
            value="{{ form.birth_id1.value|default_if_none:'' }}">
            <small class="text-body-secondary"></small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          
          <div class="col-sm-6">
            <label for="id-last" class="form-label">주민번호 뒷자리</label>
            <input type="number" class="form-control" name="birth_id2" id="birth_id2" placeholder="" required=""
            value="{{ form.birth_id2.value|default_if_none:'' }}">
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        
            <div class="col-12">
              <label for="username" class="form-label">닉네임</label>
              <div class="input-group has-validation">
                <span class="input-group-text"></span>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required=""
                value="{{ form.username.value|default_if_none:'' }}">
              <div class="invalid-feedback">
                  
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for="username" class="form-label">비밀 번호</label>
              <div class="input-group has-validation">
                <span class="input-group-text"></span>
                <input type="password" class="form-control" name="password1" id="password1" placeholder="password" required=""
                value="{{ form.password1.value|default_if_none:'' }}">
              <div class="invalid-feedback">
                  
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for="username" class="form-label">비밀 번호 확인</label>
              <div class="input-group has-validation">
                <span class="input-group-text"></span>
                <input type="password" class="form-control" name="password2" id="password2" placeholder="password" required=""
                value="{{ form.password2.value|default_if_none:'' }}">
              <div class="invalid-feedback">
                  
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">이메일<span class="text-body-secondary">(선택적)</span></label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com">
              </div>
                <div class="invalid-feedback">
                이메일 입력 다시 하세요.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">전화 번호<span class="text-body-secondary">(필수적)</span></label>
              <input type="number" class="form-control" name="phone_number" id="phone_number" placeholder="01030913501"
              value="{{ form.password2.value|default_if_none:'01030913051' }}">
              <div class="invalid-feedback">
                
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">주소</label>
              <input type="text" class="form-control" name="address1" id="address1" placeholder="평택시 김준현구 손기현로" required="">
              <div class="invalid-feedback">
                Please enter your address.
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">주소 <span class="text-body-secondary">(선택적)</span></label>
              <input type="text" class="form-control" name="address2" id="address2" placeholder="조혁준 아파트 123-45467">
            </div>

            

            

            
        </div>
            <div class="col-12">
              <hr class="my-4">
            
              <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="same-address">
                  <label class="form-check-label" for="same-address">나는 앞구르기가 가능 하다. </label>
                </div>
                
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="save-info">
                    <label class="form-check-label" for="save-info">뒷 구르기도 가능 하다.</label>
                </div>
                
                <hr class="my-4">
            </div>
              
                
                
            

            
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">제 출 하 기</button>
        </form>
      </div>
</div>
{% endblock %}