
.center{
    min-width: 800px;
    max-width: none;
    height: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 50px;

}
.navbar1{


    text-decoration:none;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color : rgb(255, 255, 255);
    height: 150px;
    min-width: 800px;
    max-width: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
    margin-bottom : 20px;


    background-image: url(https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1583&q=80);
    background-size: cover;
    background-position: 100% 15%;
    background-repeat: no-repeat;/* padding내부랑 띄우기 */
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.navbar.brand{
    
    font-weight: 900;/*글자 굵게*/
    color:rgb(0, 0, 0);
    font-size: 50px;
    width: 40%;
    height: 100px;
    font-family: 'Oswald', sans-serif;
    place-items: center;
    background-color: #00000000;
    white-space: nowrap;
    text-align: center;

}

.navbar-item{
    font-variant: small-caps;
    width: 30%;
    height: 100px;
    text-align: center;
    background-color: #00000000;
}

.body-content{
    padding: 5px;
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
}
.aboutcon{
    display: grid;
    height: 100%;
    min-width: 800px;
    max-width: none;
    padding-top:50px ;
    border-top:1px solid #bcbcbc ;
    grid-gap: 50px 20px;
    grid-template-rows:  repeat(2,minmax(500px, 150px));
    justify-items: center;
    
}
.aboutimg{
    height: 200px;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1414246009/ko/%EC%82%AC%EC%A7%84/%EC%A0%96%EC%9D%80-%EA%B2%BD%EB%A7%88%EC%9E%A5%EC%97%90%EC%84%9C-%EB%AA%A8%ED%89%81%EC%9D%B4%EB%A5%BC-%EB%8F%8C%EB%A9%B0-%EB%B9%A0%EB%A5%B4%EA%B2%8C-%EC%9A%B4%EC%A0%84%ED%95%98%EB%8A%94-%EC%9D%BC%EB%B0%98-%EB%A0%88%EB%93%9C-%EC%A0%84%EA%B8%B0-%EC%8A%A4%ED%8F%AC%EC%B8%A0%EC%B9%B4.jpg?b=1&s=170667a&w=0&k=20&c=rJJMKp1Q25i3-nq66mi1POnG7qRzi1rwakrfBk0205Q=);
    background-position: 100% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;

}   

.findcon{
    height: 50px;
    min-width: 800px;
    margin-bottom: 10px;
    border-radius: 10px 10px;
    display: flex;
    justify-content: center;
    line-height: 50px;
    text-align: right


}
.searchtext{
    font-weight: 900;
    width: 10%;

}
.findcon input {
    min-width: 300px;

    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px black solid;
    margin: 10px;
  }
.findcon button {
    line-height: 26px;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid #000000;
    background-color: #000000;
    min-width: 50px;
    height: 30px;
    border-radius: 10px;
    margin: 10px 3px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 100px;
  }


.container1{
    display: grid;
    height: 500px;
    min-width: 800px;
    padding-top:50px ;
    border-top:1px solid #bcbcbc ;
    grid-gap: 50px 20px;
    grid-template-columns:  repeat(3,minmax(200px, 300px));
    grid-template-rows:  repeat(2,minmax(100px, 150px));
    justify-content: center;
    
}

.content1{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    grid-template-columns:  180px;

    background-color: #ececec;
    border-radius: 20px;
}
.content2{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    grid-template-columns:  180px;

    background-color: #ffffff;
    border-radius: 20px;
}
.content-text{
    font-size: 12px;
    background-color: #00000000;
    font-family: 'Black Han Sans', sans-serif;
    display: table;
}


.top{
    max-width: none;
    min-width: 800px;
    height: 60px;
    display: flex;
    justify-content : space-between;
    position: relative;
    border-bottom: 1px solid#bcbcbc;
    
    
    
    
}
.top-content{
    width: 300px;
    line-height: 50px;
    color: #000;
    text-align: center;
}
.toplogo{
    font-weight: 600;
    font-size: 40px;
    font-family:'Oswald', sans-serif;
}
.top-login{
    width:150px;
    height: 20px;
    color: #000000;
    font-size: 0.8em;
    text-align: center;
    word-spacing: 5px;
    position:absolute;
    right: 0;
    bottom: 0;
}

.footer {
    min-width: 800px;
    width: 100%;
    height: 300px;
    background-color: #000f2e;
    bottom:0 auto;
    margin: 0 auto;
    position: absolute;
    border: 1px solid #000
}

.map{
    min-width:400px;
    max-width:600px;
    height: 600px;

}


.container-600 {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: repeat(5,80px);
    justify-content:center;
    padding-top: 40px;
    padding-bottom: 40px;
    min-width: 600px;
    max-width: 800px;
    background-color: #f5f5f5;
    border-radius: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
        
.btn-a{
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background-color: #000f2e;
    padding: 8px 30px;
    box-shadow: none;
    border-radius: 7px;
    transition : 1424ms;
    transform: translateY(0);
    cursor: pointer;
    text-transform: lowercase;
}

.btn-a:hover{
    transition : 1424ms;
    padding: 8px 30px;
    transform : translateY(-0px);
    background-color: #090081;
    color: #ffffff;

}
.effectcontent{
    display: inline-block;
    overflow: hidden;
    vertical-align: text-top;
}
.effectcontent .slideUp{
    background-color: #ffffff00;
    animation: slideUp 3s ease 1;
    display: block;
}

.effect{
    display: inline-block;
    overflow: hidden;
    vertical-align: text-top;
    width: 100%;
}
.effect .slideUp{
    background-color: #ffffff00;
    animation: slideUp 2s ease 1;
    display: block;
}


.texteffect{
    background-color: #ffffff00;
    display: inline-block;
    overflow: hidden;
    vertical-align: text-top;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.texteffect .slideUp{
    background-color: #ffffff00;
    animation: slideUp 1s ease 1;
    display: block;
}

@keyframes slideUp{
    0% {transform: translateY(200%);}
    100% {transform: translateY(0px);}
}
@keyframes slideDown{
    0% {transform: translateY(100%);}
    100% {transform: translateY(0px);}
}

.slider{
    width: 640px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.slider input[type=radio]{
    display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}

.slidepricecontainer {
    width: 500px;
    margin-top: 100px;
}
.sliderprice {
    -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 100%; /* 슬라이더 길이 */
    height: 15px; /* 슬라이더 두께 */
    border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
    background: #ccc; /* 슬라이더 색상 */
    outline: none; /* 슬라이더 테두리 없이 */
}

/* 슬라이더 핸들(클릭해서 드래그하는 부분) 커스텀 
(Chrome, Opera, Safari, Edge 브라우저를 위해서는 -webkit-을,
Firefox 브라우저를 위해서는 -moz- 를 사용하세요 */
.sliderprice::-webkit-slider-thumb {
    -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 25px; /* 슬라이더 핸들 길이 */
    height: 25px; /* 슬라이더 핸들 높이 */
    border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
    background: #00f; /* 슬라이더 핸들 색상 */
    cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}

.sliderprice::-moz-range-thumb {
    width: 25px; /* 슬라이더 핸들 길이 */
    height: 25px; /* 슬라이더 핸들 높이 */
    border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
    background: #00f; /* 슬라이더 핸들 색상 */
    cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}

.repair_image{
    width: 100%;
    height: 225px;
    border-radius: 5px;
}

.car_seller{
    
    height: 140px;
    width: 140px;
    border-radius: 70px;


}

.carbuywar{
    width: 350px;
    height: 200px;
    
    background-color: #000;
}

.col1-3{
    display: grid;
    grid-template-rows: 30px 50px 30px;
    width: 1000px;

}

.row_old{
    text-align: right;

}